@import 'https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css';

[hidden] {
  display: none !important;
}

.container {
  padding: 1em 0.5em;
}

body {
  font-family: 'Delius', serif;
  font-size: 1.1em;
}

img {
  object-fit: fill;
}

.logo {
  background-image: url('./logo.png');
  background-size: cover;
  height: 58px;
  width: 65px;
}

.logoTitle {
  display: flex;
  align-items: flex-end;
  flex-wrap: nowrap;
}

.header {
  display: flex;
  align-items: flex-end;
  margin-bottom: 30px;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.heading {
  display: flex;
  justify-content: space-between;
}

.bookCover {
  background-image: url('./placeholder.png');
  background-size: cover;
}

.books {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 2em;
}

.heading {
  margin-bottom: 2em;
}

.footer {
  margin-top: 1em;
}

.card {
  background: #e0e0e0;
  box-shadow: 9px 9px 18px #bcbcbc, -9px -9px 18px #ffffff;
  width: 230px;
}

.card:hover {
  border-bottom-right-radius: 50px;
  border-top-left-radius: 50px;
}

.episodes {
  margin-top: -9px;
}

.subtitle {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 0.1em;
}

.pagination-icons:hover {
  color: #00d1b2;
  cursor: pointer;
}

.description {
  text-align: justify;
}

.searchBox {
  margin-bottom: 0.8em;
}

.media {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin-bottom: 1em;
  color: #363636;
}

.topBooks .media .media-left .image img {
  height: 80px;
  width: 192px;
}

.fa-magnifying-glass {
  color: #363636;
}

.searchContent {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.empty,
.goBack {
  flex: 1;

  cursor: pointer;
}

.fa-arrow-left {
  color: #363636;
}

.bookAndNav {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  margin-bottom: 1.4em;
}

.footer {
  margin-top: 1.5em;
  padding-bottom: 1em;
}

/* styles regarding animation on progress bar */

@media (min-width: 600px) {
  body {
    max-width: 50%;
    margin: 0 auto;
    box-shadow: 9px 9px 18px #bcbcbc, -9px -9px 18px #ffffff;
    padding: 0 1em 0 1em;
  }

  .books {
    justify-content: center;
  }

  .card {
    width: 250px;
  }
}

/* media queries */
@media (max-width: 40em) {
  .title.is-1 {
    font-size: 3em;
  }

  .card-content .content .author {
    font-size: 0.9em;
  }

  .books {
    flex-wrap: nowrap;
    justify-content: space-around;
  }

  .book .bookTitle {
    font-size: 1.4em;
  }

  .book .authorAndDuration,
  .book .releasedDate {
    font-size: 1em;
  }

  .container {
    padding: 1em 1em;
  }
}
